@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
:root{
     
    --background-color:black ;
    --font-primary-color:white;
    --primary-color:blue;
}
*{
    margin:0;
    padding:0;
   font-family:"Antonio",sans-serif;
    font-weight: 400;
    color:var( --font-primary-color);
}
.container{
    padding: 0px 0px;
    
    
}